.keyboard-container {
  text-align: center;
  margin-top: 20px;
}
body {
  font-family: "Georgia", serif;
  background-color: #adbbda;
}
.key {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block; /* ensures the buttons do not wrap unexpectedly */
}
.button-link {
  display: inline-block;
  padding: 5px 10px; /* Adjusted padding for better sizing */
  margin: 10px 5px; /* Adjusted margin for alignment */
  border-color: #595959;
  border-radius: 10px;
  background-color: #4a66a4;
  background-blend-mode: normal;
  color: white;
  font-size: 12px; /* Slightly reduced font size */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.next-quiz-button {
  display: inline-block;
  padding: 10px 20px; /* Adjusted padding for better sizing */
  margin: 10px 5px; /* Adjusted margin for alignment */
  border-color: #595959;
  border-radius: 10px;
  background-color: #4a66a4;
  background-blend-mode: normal;
  color: white;
  font-size: 16px; /* Slightly reduced font size */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 150px;
}

.button-link:hover {
  /* background-color: #4d47b8; */
  background-blend-mode: normal;
  color: white;
}
.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#next-question {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#status {
  margin-top: 20px;
  font-size: 18px;
  /* color: blue; */
}
/* Add these styles to your quiz.css or a new stylesheet */
.quiz-end-container {
  text-align: center;
  margin-top: 50px;
}
.exit-button {
  float: right;
  padding: 5px 15px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
}
.quiz-end-content img {
  margin: 20px;
  height: 64px; /* Adjust as needed */
}
.quiz-end-content h2 {
  margin-top: 20px;
  font-size: 24px;
}
.score {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}
.try-again-button,
.home-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}
