{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}" />

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'home.js') }}"
></script>
<div class="row">
  <div class="col-md-12"><br /></div>
</div>
<div class="row">
  <div class="col-md-6">
    <br />
  </div>
  <div class="col-md-6">
    <a class="quiz-link" href="/quiz">take quiz</a>
  </div>
</div>
<div class="home">
  <h1 class="bold">Keyboard Shortcuts</h1>
  <h6>learn commonly used keyboard shortcuts in 10 minutes!</h6>
  <div class="dark-gray os-div">
    select your operating system:
    <a href="/macos"
      ><img
        src="{{url_for('static', filename='/logos/highlight_macos.png')}}"
        alt="Mac"
    /></a>
    <a href="/windows"
      ><img
        src="{{url_for('static', filename='/logos/windows.png')}}"
        alt="Windows"
    /></a>
  </div>
  <hr />
  <a class="button-link" href="/module1">START</a>
</div>

{% endblock %}
