<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" />

    <!-- jQuery and jQuery UI -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script
      src="https://cdn.tiny.cloud/1/q719rzyqzku157m6qx9lz1p0323q7bna9p0oge7kcog3xcnm/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script>
      tinymce.init({ selector: "textarea" });
    </script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='layout.css') }}"
    />

    <!-- FontAwesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <title>Keyboard Shortcuts</title>

    <script>
      function validateForm() {
        var query = document.getElementById("searchInput").value.trim();
        if (query === "") {
          document.getElementById("searchInput").focus();
          return false; // Prevent form submission
        }
        return true; // Allow form submission
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><img
            class="navbar_logo"
            src="../static/website_logo.png"
            alt="keyboard shortcuts"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <!-- Existing Links if any -->
          </div>
          <form
            class="form-inline"
            action="{{ url_for('search') }}"
            method="post"
          >
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="search shortcuts"
              aria-label="Search"
              name="search_term"
              required
            />
            <div class="search-btn">
              <button class="btn search-btn my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
